@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%

}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400%;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}
.top_banner{
    display:flex;
    flex-direction: row;
    order: 1;
    width: 100%;
    height: 70%;
    left: 0px;
    top: 0px;
    background: #002B40;
    border-radius: 0px;
}
.text__top_banner{
    display: flex;
    width: 50%;
}
.img__top-right_banner{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: 5%;
    overflow: visible;
    z-index: 2;
 }
 .img__top-right_banner img{
    height: 175%;
    width: auto;
    object-fit: cover;
 }
 @media (max-widht:768px){
    .top_banner{
        flex-direction: column;
    }
    .img__top-right_banner{
        height: 0;
        width: 0;
    }
    .img__top-right_banner img{
        height: 0;
        width: 0;
    }

 }
.bottom_banner{
    display: flex;
    flex-direction: row;
    order: 2;
    width: 100%;
    height: 30%;
    left: 0px;
    background: #032736;
    border-radius: 0px;
    z-index: 1;
}
