
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%

}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------*/

body{
    font-family: 'Rubik';
    font-size: 12px;
    color: #616161;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    z-index: 50;
}
main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1087px;
    margin: 0px auto;
    padding: 15px;
}
@media(max-width: 1087px){
    [class*="__container"]{
        max-width: 970px;
    }
}
@media(max-width: 991.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
@media(max-width: 991.98px){
    .header__container {
        min-height: 80px;
    }
}
.header__logo {
    position: relative;
    z-index: 5;
}
@media(max-width: 430px){
    .header__logo{
        flex: 0 0 50px;
        overflow: hidden;
    }
}
.header_menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    z-index: 5;
}
.menu__list {
    display: flex;
    gap: 40px;
}
@media(max-width: 991.98px){
    .menu__list {
        gap: 30px;
    }

}
.menu__link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
}
.menu__link:hover{
    text-decoration: underline;
}
.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
@media(max-width: 991.98px){
    .header__button{
        flex: 0 0 150px;
    }   
}
.button {
    display: inline-block;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 14px 30px;
    background-color: #EC5863;
    border-radius: 5px;
    transition: background-color 0.3s ease 0s;}
    @media(max-width: 767.98px){
    .header__button .button{
        padding: 14px 20px; 
    }
}
.button:hover{
    background-color: #ea6f77;
    
}
.button-blue {
    background-color: #4285F4;
    z-index: 3;
}
.button-blue:hover{
    background-color: #75a7f7;
}
.icon-menu{
    display: none;
}
@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: none;
    }
    .header__logo{
        overflow: hidden;
    }
    .menu__body{
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        overflow: auto;
        background-color: #EC5863;
        padding: 80px 15px 30px 15px;
        transition: left 0.5s ease 0s ;
    }
    .header:target .menu__body{
        left: 0;
    }
    .header:target .menu__body:before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: #EC5863;
    }
    .menu__link{
        background-color: #ffffff;
        padding: 5px 20px;
        margin-top: 40px;
        border-radius: 25px;
    }
    .menu__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .header__logo{
        background-color: #ffffff;
        border-radius: 30px;
        padding: 5px;
    }
    .close-icon-menu,
    .icon-menu{
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 20px;
        z-index: 5;
    }
    .icon-menu:before{
        content: "";
        height: 2px;
        background-color: #000;
        border-radius: 2px;
    }
    .icon-menu:after{
        content: "";
        height: 2px;
        background-color: #000;
    }
    .icon-menu span{
        height: 2px;
        background-color: #000;
    }
    .close-icon-menu{
        display: none;
        position: relative;
        flex: 0 0 30px;
        width: 30px;
       
    }
    .close-icon-menu:before,
    .close-icon-menu:after{
            content: "";
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            
        }
        

    .close-icon-menu:before{
        transform: rotate(45deg);
    }
    .close-icon-menu:after{
        transform: rotate(-45deg);
    }
    .header:target  .icon-menu{
        display: none;
    }
    .header:target .close-icon-menu{
        display:flex;
        z-index: 10;
    }
}

/*-------------------------*/

.get-started {
    background: #FAFBFD;
   
}
.get-started__container {
    padding: 153px 15px 48px 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.get-started__container::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%, 0px);
    z-index: 1;
}

.get-started__content {
    display: flex;
    width: 100%;
    padding: 0 20px 0 20px;
    align-items: center;
    flex-wrap: wrap;
}
.get_started__block-text {
    flex: 1 1 48%;
    max-width: 410px;
}

.block-text__title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}
.block-text__title:not(:last-child){
    margin: 0px 0px 12px 0;
}
.block-text__title span{
    color: #EC5863;;
}
.block-text__title_blue span {
    color: #4285F4;
}
.block-text__text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    color: #616161;
}
.block-text__text:not(:last-child){
    margin: 0 0 24px 0;
}

.get-started__video {
    display: flex;
    flex: 1 1 100%;
    padding: 0 0 0 20px;
    flex-direction: row;

}
.video-get-started {
    display: inline-flex;
    margin: 20px 0 0 0;
    
}
.video-get-started__icon {
    flex: 0 0 44px;
}
.video-get-started__body {
    padding: 0 0 0 12px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.video-get-started__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: #B0B0B0;
}
.video-get-started__text {
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #000000;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}
.get-started__image img{
    max-width: 100%;
    flex: 0 1 100%;
}
@media(max-width: 991.98px){
    .get-started__container::before{
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}
@media(max-width: 767.98px){
    .get-started__container::before{
        display: none;
    }
    .get_started__block-text {
        max-width: none;
        
    }
    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__container{
       padding: 70px 15px 30px 15px;
    }
    .get-started__image{
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0px;
    }
    .get-started__video{
        padding: 0;

    }
    .video-get-started {
        margin: 0;
    }
    .block-text__title{
        font-size: 34px;
    }
}